.spotList {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 15px;
    text-decoration: none;
    max-width: 1600px;
    margin: auto;
  }
  .spotCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: #2d2d2d;
    border-radius: 20px;
  }
  .card:hover {
    background-color: #5c5c5c;
  }
  .spotContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .stars {
    margin-left: 40px; 
  }

  .image {
    border-radius: 10px;
    width:95%;
    margin: 10px;
    box-shadow: 5px 5px 10px rgb(16, 29, 29);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
  }
