* {
  box-sizing: border-box;
}
.spotList {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 15px;
    text-decoration: none;
    max-width: 1600px;
    margin: auto;
  }

  @media (max-width: 1200px) {
    .spotList {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

@media (max-width: 900px) {
    .spotList {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (max-width: 600px) {
    .spotList {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}


  .spotCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: #2d2d2d;
    border-radius: 20px;
  }
  .card:hover {
    background-color: #5c5c5c;
    
  }
  .spotContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .stars {
    margin-left: 40px; 
  }

  .hidden-text {
      position: absolute;
      border: lightblue solid 1px;
      background-color: #5c5c5c;
      padding: 5px;
      border-radius: 5px;
      display: none;
    }

  .card:hover .hidden-text {
    display: inline
  }

  .image {
    border-radius: 10px;
    width:95%;
    height: 20em;
    object-fit: cover;
    margin: 10px;
    box-shadow: 5px 5px 10px rgb(16, 29, 29);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
  }

  .updateSpotButtons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.deleteButtons {
  text-align: center;
  cursor: pointer;
}
